<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans org/springframework/beans/factory/xml/spring-beans-2.5.xsd">

	<!-- ****** I M P O R T S ****** -->
	
	<import resource="classpath:twist-common.xml"/>
	<import resource="classpath:applicationContext-scenario-sm.xml"/>
	
	<!-- **** CONTEXT ***-->
	
	<bean class="com.tracfone.twist.context.OnNet10EnglishHomePage" id="OnNet10EnglishHomePage">
		<property name="esnUtil" ref="esnUtil"/>
		<property name="tracfoneFlows" ref="tracfoneFlows"/>
	</bean>
	
	<!-- **** ACTIVATION ***-->
	<bean class="com.tracfone.twist.impl.eng.activation.StartActivation" id="StartActivation">
		<property name="phoneUtil" ref="phoneUtil"/>
		<property name="simUtil" ref="simUtil"/>
		<property name="tracfoneFlows" ref="tracfoneFlows"/>
		<property name="esnUtil" ref="esnUtil"/>
		<property name="deactivatePhone" ref="SMDeactivatePhone"/>
		<property name="finishActivationWithPIN" ref="FinishActivationWithPIN"/>
		<property name="FinishActivationWithoutPin" ref="FinishActivationWithoutPin"/>
		<property name="createAccount" ref="createAccount"/>
	</bean>
	
	<bean class="com.tracfone.twist.activation.PortIn" id="portIn">
		<property name="phoneUtil" ref="phoneUtil"/>
		<property name="simUtil" ref="simUtil"/>
		<property name="tracfoneFlows" ref="tracfoneFlows"/>
		<property name="esnUtil" ref="esnUtil"/>
	</bean>
	
	<bean class="com.tracfone.twist.impl.eng.activation.FinishActivationWithoutPin" id="FinishActivationWithoutPin">
		<property name="tracfoneFlows" ref="tracfoneFlows"/>
		<property name="esnUtil" ref="esnUtil"/>
	</bean>
	
	<bean class="com.tracfone.twist.impl.eng.activation.FinishActivationWithPIN" id="FinishActivationWithPIN">
		<property name="tracfoneFlows" ref="tracfoneFlows"/>
		<property name="esnUtil" ref="esnUtil"/>
		<property name="phoneUtil" ref="phoneUtil"/>
	</bean>
	
	<bean class="com.tracfone.twist.impl.eng.activation.FinishActivationWithServicePlan" id="FinishActivationWithServicePlan">
		<property name="tracfoneFlows" ref="tracfoneFlows"/>
		<property name="enterPaymentInfo" ref="enterPaymentInformation"/>
		<property name="esnUtil" ref="esnUtil"/>
		<property name="phoneUtil" ref="phoneUtil"/>
		<property name="simUtil" ref="simUtil"/>
	</bean>

	<bean class="com.tracfone.twist.impl.eng.activation.PhoneUpgrade" id="PhoneUpgrade">
		<property name="phoneUtil" ref="phoneUtil"/>
		<property name="tracfoneFlows" ref="tracfoneFlows"/>
		<property name="esnUtil" ref="esnUtil"/>
	</bean>
	
	<bean class="com.tracfone.twist.impl.eng.activation.RegisterBYOP" id="RegisterBYOP">
		<property name="phoneUtil" ref="phoneUtil"/>
		<property name="tracfoneFlows" ref="tracfoneFlows"/>
		<property name="esnUtil" ref="esnUtil"/>
	</bean>
	 
	<!-- **** BUY AIRTIME ***-->
	
	<bean class="com.tracfone.twist.impl.eng.purchases.EnrollInPlan" id="EnrollInPlan">
		<property name="phoneUtil" ref="phoneUtil"/>
		<property name="tracfoneFlows" ref="tracfoneFlows"/>
		<property name="accountUtil" ref="createAccount"/>
		<property name="esnUtil" ref="esnUtil"/>
	</bean>

	<bean class="com.tracfone.twist.impl.eng.purchases.EnterPaymentInformation" id="enterPaymentInformation">
		<property name="tracfoneFlows" ref="tracfoneFlows"/>
	</bean>	
	
	<!-- **** REDEMPTION ***-->
	
	<bean class="com.tracfone.twist.impl.eng.purchases.AddAirtime" id="AddAirtime">
		<property name="phoneUtil" ref="phoneUtil"/>
		<property name="tracfoneFlows" ref="tracfoneFlows"/>
		<property name="esnUtil" ref="esnUtil"/>
		<property name="createAccount" ref="createAccount"/>
	</bean>
	
	
	<!-- **** SERVICES *** -->
	
	<bean class="com.tracfone.twist.services.Services" id="Services">
		<property name="phoneUtil" ref="phoneUtil"/>
		<property name="serviceUtil" ref="serviceUtil"/>
	</bean> 
	
	<!-- **** MY ACCOUNT ***-->
	
	<bean class="com.tracfone.twist.impl.eng.myAccount.AddPhoneToMyNewAccount" id="AddPhoneToMyNewAccount">
		<property name="phoneUtil" ref="phoneUtil"/>
		<property name="tracfoneFlows" ref="tracfoneFlows"/>
	</bean>
	
	<bean class="com.tracfone.twist.impl.eng.myAccount.CreateANewAccount" id="CreateANewAccount">
		<property name="phoneUtil" ref="phoneUtil"/>
		<property name="tracfoneFlows" ref="tracfoneFlows"/>
		<property name="esnUtil" ref="esnUtil"/>
	</bean>
	
	<bean class="com.tracfone.twist.impl.eng.purchases.BuyAPhone" id="BuyAPhone">
		<property name="tracfoneFlows" ref="tracfoneFlows"/>
	</bean>
	
	<bean class="com.tracfone.twist.impl.eng.purchases.BuySIMCard" id="BuySIMCard">
		<property name="tracfoneFlows" ref="tracfoneFlows"/>
	</bean>
	
	<bean class="com.tracfone.twist.impl.eng.myAccount.CreateAccount" id="createAccount">
		<property name="tracfoneFlows" ref="tracfoneFlows"/>
		<property name="esnUtil" ref="esnUtil"/>
	</bean>
	
<bean class="com.thoughtworks.twist.core.execution.TwistDataStoreFactory" id="twistDataStoreFactory"/>
   <bean factory-bean="twistDataStoreFactory" factory-method="getScenarioStore" id="twistScenarioStore" scope="singleton"/>
<bean class="ScenarioExecutionHooks" id="twistScenarioHooks">
      <constructor-arg>
         <ref bean="browser"/>
      </constructor-arg>
   </bean>
</beans>
