<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans org/springframework/beans/factory/xml/spring-beans-2.5.xsd">

	<!-- ****** I M P O R T S ****** -->
	
	<import resource="classpath:twist-common.xml"/>
	<import resource="classpath:applicationContext-scenario-sm.xml"/>
	
	<!-- **** Context ***-->
	
	<bean class="com.tracfone.twist.context.OnTracfoneHomePage" id="OnTracfoneHomePage">
		<property name="esnUtil" ref="esnUtil"/>
		<property name="tracfoneFlows" ref="tracfoneFlows"/>
	</bean>
	
	<!-- **** ACTIVATION ***-->
	
	<bean class="com.tracfone.twist.activation.ActivatePhone" id="ActivatePhone">
		<property name="phoneUtil" ref="phoneUtil"/>
		<property name="simUtil" ref="simUtil"/>
		<property name="tracfoneFlows" ref="tracfoneFlows"/>
		<property name="esnUtil" ref="esnUtil"/>
	</bean>
	
	<bean class="com.tracfone.twist.activation.PhoneUpgrade" id="PhoneUpgrade">
		<property name="phoneUtil" ref="phoneUtil"/>
		<property name="tracfoneFlows" ref="tracfoneFlows"/>
		<property name="esnUtil" ref="esnUtil"/>
	</bean>
	
	<!-- **** BUY AIRTIME***-->
	
	<bean class="com.tracfone.twist.purchases.BuyAirtime" id="BuyAirtime">
		<property name="phoneUtil" ref="phoneUtil"/>
		<property name="tracfoneFlows" ref="tracfoneFlows"/>
		<property name="esnUtil" ref="esnUtil"/>
	</bean>
		
	<!-- **** REDEMPTION ***-->
	
	<bean class="com.tracfone.twist.purchases.AddCardOnline" id="AddCardOnline">
		<property name="phoneUtil" ref="phoneUtil"/>
		<property name="tracfoneFlows" ref="tracfoneFlows"/>
		<property name="esnUtil" ref="esnUtil"/>
	</bean>
	
	<!-- **** MY ACCOUNT***-->
	
	<bean class="com.tracfone.twist.myAccount.CreateAccount" id="CreateAccount">
		<property name="phoneUtil" ref="phoneUtil"/>
		<property name="tracfoneFlows" ref="tracfoneFlows"/>
		<property name="esnUtil" ref="esnUtil"/>
	</bean>
	
	<!-- **** PURCHASES***-->
	<bean class="com.tracfone.twist.purchases.BuyAPhone" id="BuyAPhone">
		<property name="tracfoneFlows" ref="tracfoneFlows"/>
	</bean>

<bean class="com.thoughtworks.twist.core.execution.TwistDataStoreFactory" id="twistDataStoreFactory"/>
   <bean factory-bean="twistDataStoreFactory" factory-method="getScenarioStore" id="twistScenarioStore" scope="singleton"/>
<bean class="ScenarioExecutionHooks" id="twistScenarioHooks">
      <constructor-arg>
         <ref bean="browser"/>
      </constructor-arg>
   </bean>
</beans>
