/*/bin
/*/.settings/
/*/logs/
/*/sahi/userdata/browser
/*/sahi/userdata/certs
/*/sahi/userdata/scripts
/*/sahi/userdata/scripts
/*/sahi*.log
/*/sahi*.log.*
/*/target
/*/*.class
/.metadata
reports/
temp/
Cache/
twist-reports/
twist-total-web/2016*
twist-total-web/2015*
*.class