<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans org/springframework/beans/factory/xml/spring-beans-2.5.xsd">
       
	<!-- ****** I M P O R T S ****** -->
	
	<import resource="classpath:applicationContext-scenario-st.xml" />
	
<bean class="com.thoughtworks.twist.core.execution.TwistDataStoreFactory" id="twistDataStoreFactory"/>
   <bean factory-bean="twistDataStoreFactory" factory-method="getScenarioStore" id="twistScenarioStore" scope="singleton"/>
<bean class="ScenarioExecutionHooks" id="twistScenarioHooks">
      <constructor-arg>
         <ref bean="browser"/>
      </constructor-arg>
   </bean>
</beans>
